<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../static/css/chatPage.css" />
</head>
<body>
  <div class="chat-container">
    <div class="user-list" id="usernames">
      <h5 class="user-list-header">Chats</h5>
      <!-- Usernames will be added here -->
    </div>
    <div class="chat-section d-flex flex-column">
      <div class="chat-header bg-primary text-white text-center p-3 d-none justify-content-between align-items-center" id="chat-header">
        <h1 class="h5 m-0" id="chat-header-text"></h1>
        <button class="btn btn-success" id="invite-button">Invite Player to Game</button>
        <button class="btn btn-danger" id="block-button">Click to Block</button>
      </div>
      <!-- Chat messages for each user will be dynamically added here -->
      <div class="chat-input-container d-none p-3 border-top" id="chat-input-container">
        <input
          type="text"
          class="form-control mr-2"
          id="id_message_send_input"
          placeholder="Type your message..."
        />
        <button type="submit" class="btn btn-primary" id="id_message_send_button">
          Send
        </button>
      </div>
    </div>
  </div>

  <script src="../static/js/chatPage.js"></script>
</body>
</html>
